<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KFPJ4JX');</script>
<!-- End Google Tag Manager -->
<!--MathJax Script for Latex-->
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
      jax: ["input/TeX","output/HTML-CSS"],
      tex2jax: {
          inlineMath: [['$','$']],
          processEscapes: true,
      },
    });
  </script>
<!--MathJax Script for Latex-->
 <script>
/*
  SortTable
  version 2
  7th April 2007
  Stuart Langridge, http://www.kryogenix.org/code/browser/sorttable/
  
  Instructions:
  Download this file
  Add <script src="sorttable.js"></script> to your HTML
  Add class="sortable" to any table you'd like to make sortable
  Click on the headers to sort
  
  Thanks to many, many people for contributions and suggestions.
  Licenced as X11: http://www.kryogenix.org/code/browser/licence.html
  This basically means: do what you want with it.
*/

 
var stIsIE = /*@cc_on!@*/false;

sorttable = {
  init: function() {
    // quit if this function has already been called
    if (arguments.callee.done) return;
    // flag this function so we don't do the same thing twice
    arguments.callee.done = true;
    // kill the timer
    if (_timer) clearInterval(_timer);
    
    if (!document.createElement || !document.getElementsByTagName) return;
    
    sorttable.DATE_RE = /^(\d\d?)[\/\.-](\d\d?)[\/\.-]((\d\d)?\d\d)$/;
    
    forEach(document.getElementsByTagName('table'), function(table) {
      if (table.className.search(/\bsortable\b/) != -1) {
        sorttable.makeSortable(table);
      }
    });
    
  },
  
  makeSortable: function(table) {
    if (table.getElementsByTagName('thead').length == 0) {
      // table doesn't have a tHead. Since it should have, create one and
      // put the first table row in it.
      the = document.createElement('thead');
      the.appendChild(table.rows[0]);
      table.insertBefore(the,table.firstChild);
    }
    // Safari doesn't support table.tHead, sigh
    if (table.tHead == null) table.tHead = table.getElementsByTagName('thead')[0];
    
    if (table.tHead.rows.length != 1) return; // can't cope with two header rows
    
    // Sorttable v1 put rows with a class of "sortbottom" at the bottom (as
    // "total" rows, for example). This is B&R, since what you're supposed
    // to do is put them in a tfoot. So, if there are sortbottom rows,
    // for backwards compatibility, move them to tfoot (creating it if needed).
    sortbottomrows = [];
    for (var i=0; i<table.rows.length; i++) {
      if (table.rows[i].className.search(/\bsortbottom\b/) != -1) {
        sortbottomrows[sortbottomrows.length] = table.rows[i];
      }
    }
    if (sortbottomrows) {
      if (table.tFoot == null) {
        // table doesn't have a tfoot. Create one.
        tfo = document.createElement('tfoot');
        table.appendChild(tfo);
      }
      for (var i=0; i<sortbottomrows.length; i++) {
        tfo.appendChild(sortbottomrows[i]);
      }
      delete sortbottomrows;
    }
    
    // work through each column and calculate its type
    headrow = table.tHead.rows[0].cells;
    for (var i=0; i<headrow.length; i++) {
      // manually override the type with a sorttable_type attribute
      if (!headrow[i].className.match(/\bsorttable_nosort\b/)) { // skip this col
        mtch = headrow[i].className.match(/\bsorttable_([a-z0-9]+)\b/);
        if (mtch) { override = mtch[1]; }
	      if (mtch && typeof sorttable["sort_"+override] == 'function') {
	        headrow[i].sorttable_sortfunction = sorttable["sort_"+override];
	      } else {
	        headrow[i].sorttable_sortfunction = sorttable.guessType(table,i);
	      }
	      // make it clickable to sort
	      headrow[i].sorttable_columnindex = i;
	      headrow[i].sorttable_tbody = table.tBodies[0];
	      dean_addEvent(headrow[i],"click", function(e) {

          if (this.className.search(/\bsorttable_sorted\b/) != -1) {
            // if we're already sorted by this column, just 
            // reverse the table, which is quicker
            sorttable.reverse(this.sorttable_tbody);
            this.className = this.className.replace('sorttable_sorted',
                                                    'sorttable_sorted_reverse');
            this.removeChild(document.getElementById('sorttable_sortfwdind'));
            sortrevind = document.createElement('span');
            sortrevind.id = "sorttable_sortrevind";
            sortrevind.innerHTML = stIsIE ? '&nbsp<font face="webdings">5</font>' : '&nbsp;&#x25B4;';
            this.appendChild(sortrevind);
            return;
          }
          if (this.className.search(/\bsorttable_sorted_reverse\b/) != -1) {
            // if we're already sorted by this column in reverse, just 
            // re-reverse the table, which is quicker
            sorttable.reverse(this.sorttable_tbody);
            this.className = this.className.replace('sorttable_sorted_reverse',
                                                    'sorttable_sorted');
            this.removeChild(document.getElementById('sorttable_sortrevind'));
            sortfwdind = document.createElement('span');
            sortfwdind.id = "sorttable_sortfwdind";
            sortfwdind.innerHTML = stIsIE ? '&nbsp<font face="webdings">6</font>' : '&nbsp;&#x25BE;';
            this.appendChild(sortfwdind);
            return;
          }
          
          // remove sorttable_sorted classes
          theadrow = this.parentNode;
          forEach(theadrow.childNodes, function(cell) {
            if (cell.nodeType == 1) { // an element
              cell.className = cell.className.replace('sorttable_sorted_reverse','');
              cell.className = cell.className.replace('sorttable_sorted','');
            }
          });
          sortfwdind = document.getElementById('sorttable_sortfwdind');
          if (sortfwdind) { sortfwdind.parentNode.removeChild(sortfwdind); }
          sortrevind = document.getElementById('sorttable_sortrevind');
          if (sortrevind) { sortrevind.parentNode.removeChild(sortrevind); }
          
          this.className += ' sorttable_sorted';
          sortfwdind = document.createElement('span');
          sortfwdind.id = "sorttable_sortfwdind";
          sortfwdind.innerHTML = stIsIE ? '&nbsp<font face="webdings">6</font>' : '&nbsp;&#x25BE;';
          this.appendChild(sortfwdind);

	        // build an array to sort. This is a Schwartzian transform thing,
	        // i.e., we "decorate" each row with the actual sort key,
	        // sort based on the sort keys, and then put the rows back in order
	        // which is a lot faster because you only do getInnerText once per row
	        row_array = [];
	        col = this.sorttable_columnindex;
	        rows = this.sorttable_tbody.rows;
	        for (var j=0; j<rows.length; j++) {
	          row_array[row_array.length] = [sorttable.getInnerText(rows[j].cells[col]), rows[j]];
	        }
	        /* If you want a stable sort, uncomment the following line */
	        //sorttable.shaker_sort(row_array, this.sorttable_sortfunction);
	        /* and comment out this one */
	        row_array.sort(this.sorttable_sortfunction);
	        
	        tb = this.sorttable_tbody;
	        for (var j=0; j<row_array.length; j++) {
	          tb.appendChild(row_array[j][1]);
	        }
	        
	        delete row_array;
	      });
	    }
    }
  },
  
  guessType: function(table, column) {
    // guess the type of a column based on its first non-blank row
    sortfn = sorttable.sort_alpha;
    for (var i=0; i<table.tBodies[0].rows.length; i++) {
      text = sorttable.getInnerText(table.tBodies[0].rows[i].cells[column]);
      if (text != '') {
        if (text.match(/^-?[£$¤]?[\d,.]+%?$/)) {
          return sorttable.sort_numeric;
        }
        // check for a date: dd/mm/yyyy or dd/mm/yy 
        // can have / or . or - as separator
        // can be mm/dd as well
        possdate = text.match(sorttable.DATE_RE)
        if (possdate) {
          // looks like a date
          first = parseInt(possdate[1]);
          second = parseInt(possdate[2]);
          if (first > 12) {
            // definitely dd/mm
            return sorttable.sort_ddmm;
          } else if (second > 12) {
            return sorttable.sort_mmdd;
          } else {
            // looks like a date, but we can't tell which, so assume
            // that it's dd/mm (English imperialism!) and keep looking
            sortfn = sorttable.sort_ddmm;
          }
        }
      }
    }
    return sortfn;
  },
  
  getInnerText: function(node) {
    // gets the text we want to use for sorting for a cell.
    // strips leading and trailing whitespace.
    // this is *not* a generic getInnerText function; it's special to sorttable.
    // for example, you can override the cell text with a customkey attribute.
    // it also gets .value for <input> fields.
    
    hasInputs = (typeof node.getElementsByTagName == 'function') &&
                 node.getElementsByTagName('input').length;
    
    if (node.getAttribute("sorttable_customkey") != null) {
      return node.getAttribute("sorttable_customkey");
    }
    else if (typeof node.textContent != 'undefined' && !hasInputs) {
      return node.textContent.replace(/^\s+|\s+$/g, '');
    }
    else if (typeof node.innerText != 'undefined' && !hasInputs) {
      return node.innerText.replace(/^\s+|\s+$/g, '');
    }
    else if (typeof node.text != 'undefined' && !hasInputs) {
      return node.text.replace(/^\s+|\s+$/g, '');
    }
    else {
      switch (node.nodeType) {
        case 3:
          if (node.nodeName.toLowerCase() == 'input') {
            return node.value.replace(/^\s+|\s+$/g, '');
          }
        case 4:
          return node.nodeValue.replace(/^\s+|\s+$/g, '');
          break;
        case 1:
        case 11:
          var innerText = '';
          for (var i = 0; i < node.childNodes.length; i++) {
            innerText += sorttable.getInnerText(node.childNodes[i]);
          }
          return innerText.replace(/^\s+|\s+$/g, '');
          break;
        default:
          return '';
      }
    }
  },
  
  reverse: function(tbody) {
    // reverse the rows in a tbody
    newrows = [];
    for (var i=0; i<tbody.rows.length; i++) {
      newrows[newrows.length] = tbody.rows[i];
    }
    for (var i=newrows.length-1; i>=0; i--) {
       tbody.appendChild(newrows[i]);
    }
    delete newrows;
  },
  
  /* sort functions
     each sort function takes two parameters, a and b
     you are comparing a[0] and b[0] */
  sort_numeric: function(a,b) {
    aa = parseFloat(a[0].replace(/[^0-9.-]/g,''));
    if (isNaN(aa)) aa = 0;
    bb = parseFloat(b[0].replace(/[^0-9.-]/g,'')); 
    if (isNaN(bb)) bb = 0;
    return aa-bb;
  },
  sort_alpha: function(a,b) {
    if (a[0]==b[0]) return 0;
    if (a[0]<b[0]) return -1;
    return 1;
  },
  sort_ddmm: function(a,b) {
    mtch = a[0].match(sorttable.DATE_RE);
    y = mtch[3]; m = mtch[2]; d = mtch[1];
    if (m.length == 1) m = '0'+m;
    if (d.length == 1) d = '0'+d;
    dt1 = y+m+d;
    mtch = b[0].match(sorttable.DATE_RE);
    y = mtch[3]; m = mtch[2]; d = mtch[1];
    if (m.length == 1) m = '0'+m;
    if (d.length == 1) d = '0'+d;
    dt2 = y+m+d;
    if (dt1==dt2) return 0;
    if (dt1<dt2) return -1;
    return 1;
  },
  sort_mmdd: function(a,b) {
    mtch = a[0].match(sorttable.DATE_RE);
    y = mtch[3]; d = mtch[2]; m = mtch[1];
    if (m.length == 1) m = '0'+m;
    if (d.length == 1) d = '0'+d;
    dt1 = y+m+d;
    mtch = b[0].match(sorttable.DATE_RE);
    y = mtch[3]; d = mtch[2]; m = mtch[1];
    if (m.length == 1) m = '0'+m;
    if (d.length == 1) d = '0'+d;
    dt2 = y+m+d;
    if (dt1==dt2) return 0;
    if (dt1<dt2) return -1;
    return 1;
  },
  
  shaker_sort: function(list, comp_func) {
    // A stable sort function to allow multi-level sorting of data
    // see: http://en.wikipedia.org/wiki/Cocktail_sort
    // thanks to Joseph Nahmias
    var b = 0;
    var t = list.length - 1;
    var swap = true;

    while(swap) {
        swap = false;
        for(var i = b; i < t; ++i) {
            if ( comp_func(list[i], list[i+1]) > 0 ) {
                var q = list[i]; list[i] = list[i+1]; list[i+1] = q;
                swap = true;
            }
        } // for
        t--;

        if (!swap) break;

        for(var i = t; i > b; --i) {
            if ( comp_func(list[i], list[i-1]) < 0 ) {
                var q = list[i]; list[i] = list[i-1]; list[i-1] = q;
                swap = true;
            }
        } // for
        b++;

    } // while(swap)
  }  
}

/* ******************************************************************
   Supporting functions: bundled here to avoid depending on a library
   ****************************************************************** */

// Dean Edwards/Matthias Miller/John Resig

/* for Mozilla/Opera9 */
if (document.addEventListener) {
    document.addEventListener("DOMContentLoaded", sorttable.init, false);
}

/* for Internet Explorer */
/*@cc_on @*/
/*@if (@_win32)
    document.write("<script id=__ie_onload defer src=javascript:void(0)><\/script>");
    var script = document.getElementById("__ie_onload");
    script.onreadystatechange = function() {
        if (this.readyState == "complete") {
            sorttable.init(); // call the onload handler
        }
    };
/*@end @*/

/* for Safari */
if (/WebKit/i.test(navigator.userAgent)) { // sniff
    var _timer = setInterval(function() {
        if (/loaded|complete/.test(document.readyState)) {
            sorttable.init(); // call the onload handler
        }
    }, 10);
}

/* for other browsers */
window.onload = sorttable.init;

// written by Dean Edwards, 2005
// with input from Tino Zijdel, Matthias Miller, Diego Perini

// http://dean.edwards.name/weblog/2005/10/add-event/

function dean_addEvent(element, type, handler) {
	if (element.addEventListener) {
		element.addEventListener(type, handler, false);
	} else {
		// assign each event handler a unique ID
		if (!handler.$$guid) handler.$$guid = dean_addEvent.guid++;
		// create a hash table of event types for the element
		if (!element.events) element.events = {};
		// create a hash table of event handlers for each element/event pair
		var handlers = element.events[type];
		if (!handlers) {
			handlers = element.events[type] = {};
			// store the existing event handler (if there is one)
			if (element["on" + type]) {
				handlers[0] = element["on" + type];
			}
		}
		// store the event handler in the hash table
		handlers[handler.$$guid] = handler;
		// assign a global event handler to do all the work
		element["on" + type] = handleEvent;
	}
};
// a counter used to create unique IDs
dean_addEvent.guid = 1;

function removeEvent(element, type, handler) {
	if (element.removeEventListener) {
		element.removeEventListener(type, handler, false);
	} else {
		// delete the event handler from the hash table
		if (element.events && element.events[type]) {
			delete element.events[type][handler.$$guid];
		}
	}
};

function handleEvent(event) {
	var returnValue = true;
	// grab the event object (IE uses a global event object)
	event = event || fixEvent(((this.ownerDocument || this.document || this).parentWindow || window).event);
	// get a reference to the hash table of event handlers
	var handlers = this.events[event.type];
	// execute each event handler
	for (var i in handlers) {
		this.$$handleEvent = handlers[i];
		if (this.$$handleEvent(event) === false) {
			returnValue = false;
		}
	}
	return returnValue;
};

function fixEvent(event) {
	// add W3C standard event methods
	event.preventDefault = fixEvent.preventDefault;
	event.stopPropagation = fixEvent.stopPropagation;
	return event;
};
fixEvent.preventDefault = function() {
	this.returnValue = false;
};
fixEvent.stopPropagation = function() {
  this.cancelBubble = true;
}

// Dean's forEach: http://dean.edwards.name/base/forEach.js
/*
	forEach, version 1.0
	Copyright 2006, Dean Edwards
	License: http://www.opensource.org/licenses/mit-license.php
*/

// array-like enumeration
if (!Array.forEach) { // mozilla already supports this
	Array.forEach = function(array, block, context) {
		for (var i = 0; i < array.length; i++) {
			block.call(context, array[i], i, array);
		}
	};
}

// generic enumeration
Function.prototype.forEach = function(object, block, context) {
	for (var key in object) {
		if (typeof this.prototype[key] == "undefined") {
			block.call(context, object[key], key, object);
		}
	}
};

// character enumeration
String.forEach = function(string, block, context) {
	Array.forEach(string.split(""), function(chr, index) {
		block.call(context, chr, index, string);
	});
};

// globally resolve forEach enumeration
var forEach = function(object, block, context) {
	if (object) {
		var resolve = Object; // default
		if (object instanceof Function) {
			// functions have a "length" property
			resolve = Function;
		} else if (object.forEach instanceof Function) {
			// the object implements a custom forEach method so use that
			object.forEach(block, context);
			return;
		} else if (typeof object == "string") {
			// the object is a string
			resolve = String;
		} else if (typeof object.length == "number") {
			// the object is array-like
			resolve = Array;
		}
		resolve.forEach(object, block, context);
	}
};
</script>
<!----MathJax Script 2019 for Latex---->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<!-------Mathjax Scripts 2018 for latex---->

<!--For Sorting tables-->
<script src="sorttable.js"></script>
<!--For sorttable tables-->
<!--------------------------------------------------Start of HTML Document----------------------------------------->
<!----CSS for Tables---->
<style>table, th, td {
  border: 1px solid black;
}</style>

<style>th, td {
  text-align: left;
}</style>

<!---Dror Bar Natan Global CSS-->
<style>a:hover {text-decoration: none;}

a:hover.external {text-decoration: none;}
a:link.external {COLOR: black;}
a:visited.external {COLOR:rgb(48,48,48);}

img.tex {vertical-align: middle;}

.thumb {
  padding: 10px;
  text-align: center;
  display: inline-block;
  width: 200px;
  word-wrap: break-word;
}</style>
<!------Dror Bar Natan CSS---->




<header>

  (ↄ)|<a href="https://bluewworks.github.io">Jai Ramanathan</a>
  :<a href="https://bluewworks.github.io/templates/Academic%20Peniseve.html">Academic Peniseve</a>
  :<a href="01.html">2019/01</a>
</header>

<header>
<table>
<table border="0">
  <tr>
    <th><h1><a href="2019/01.html"><<----------------------------------------------</a><h1></th>
    <th><h1><a href="2019/02/html">2019/02</a><h1></th>
    <th><h1><a href="2019/03.html">----------------------------------------------->></a><h1></th>
  </tr>
</table>
</header>

<div>
<table>
  <tr>
    <td><table><h1><b>Index<b><h1></table></td>
    <td><table><h1><b>Source<b><h1></table></td>
    <td><table><h1><b>Summary<b><h1></table></td>
    <td><table><h1><b>/others<b><h1></table></td>
  </tr>
  <tr>
    <td><table>e</table></td>
    <td><table>e</table></td>
    <td><table>wefwefwefwefwwewefwjefjweifjweowfefwefwefwefwegur,wgh9uhguehrgqehrghqeurhgquerhuigqerhugiqehrghqeiurghqieurhgqehrugqer
        qerkg0qejr0gqergjqe9rjgqerg
        ergjqie9rjg9qejrg9iqejrgjqergjeri9urgjqegjqerjger
        wewefwjefjweifjweowfefwefwefwefwegur,wgh9uhguehrgqehrghqeurhgquerhuigqerhugiqehrghqeiurghqieurhgqehrugqer
        qerkg0qejr0gqergjqe9rjgqerg
        ergjqie9rjg9qejrg9iqejrgjqergjeri9urgjqegjqerjger
        wewefwjefjweifjweowfefwefwefwefwegur,wgh9uhguehrgqehrghqeurhgquerhuigqerhugiqehrghqeiurghqieurhgqehrugqer
        qerkg0qejr0gqergjqe9rjgqerg
        ergjqie9rjg9qejrg9iqejrgjqergjeri9urgjqegjqerjger</table></td>
    <td><table>wewefwjefjweifjweowfefwefwefwefwegur,wgh9uhguehrgqehrghqeurhgquerhuigqerhugiqehrghqeiurghqieurhgqehrugqer
        qerkg0qejr0gqergjqe9rjgqerg
        ergjqie9rjg9qejrg9iqejrgjqergjeri9urgjqegjqerjger</table></td>
   </tr>
   <tr>
    <td><table><h1><b>Index<b><h1></table></td>
    <td><table><h1><b>Source<b><h1></table></td>
    <td><table><h1><b>Summary<b><h1></table></td>
    <td><table><h1><b>/others<b><h1></table></td>
  </tr>
</table>
</div>



<div>
<table>
  <tr>
    <td><table><h1><b>Week<b><h1></table></td>
    <td><table><h1><b>Front page<b><h1></table></td>
    <td><table><h1><b>Back Page<b><h1></table></td>
    <td><table><h1><b>Date Range<b><h1></table></td>
  </tr>
  <tr>
    <td><b><h2>Week 01<h2><b></td>
    <td><a href="01f.pdf">01f.pdf</a></td>
    <td><a href="01b.pdf">01b.pdf</a></td>
    <td></td>
  </tr>
  <tr>
    <td><b><h2>Week 02<h2><b></td>
    <td><a href="02f.pdf">02f.pdf</a></td>
    <td><a href="02b.pdf">02b.pdf</a></td>
    <td></td>
  </tr>
  <tr>
    <td><b><h2>Week 03<h2><b></td>
    <td><a href="03f.pdf">03f.pdf</a></td>
    <td><a href="03b.pdf">03b.pdf</a></td>
    <td></td>
  </tr>
  <tr>
    <td><b><h2>Week 04<h2><b></td>
    <td><a href="04f.pdf">04f.pdf</a></td>
    <td><a href="04b.pdf">04b.pdf</a></td>
    <td></td>
  </tr>
</table>
 </div>

This is what i studied,for this month

 <table class=sortable border=1 cellspacing=0>
<tr><th>&nbsp;</th><th>Notebook (.pdf)</th><th>Source (.nb)</th><th>Created</th><th>Last Modified</th><th>Summary</th></tr>
  <tr align=left>
<td align=right>1</td>
    <td><a href="nb/CapsAndCups-0.pdf">CapsAndCups-0</a></td>
    <td align=center><a href="CapsAndCups-0.nb">source</a></td>
    <td align=center>2016-08-11 09:58:08</td>
    <td align=center>2016-08-11 11:46:36</td>
    <td>Caps and cups for NOE-0.</td>
  <tr align=left>
<td align=right>2</td>
    <td><a href="nb/CC4NOE-1.pdf">CC4NOE-1</a></td>
    <td align=center><a href="CC4NOE-1.nb">source</a></td>
    <td align=center>2016-08-11 11:39:15</td>
    <td align=center>2016-08-17 10:50:28</td>
    <td>Solving for caps and cups for NOE-1.</td>
  <tr align=left>
<td align=right>3</td>
    <td><a href="nb/CC4NOE-1t.pdf">CC4NOE-1t</a></td>
    <td align=center><a href="CC4NOE-1t.nb">source</a></td>
    <td align=center>2016-08-17 08:08:56</td>
    <td align=center>2016-08-18 16:19:46</td>
    <td>Solving for caps and cups for NOE-1, t variables.</td>
  <tr align=left>
<td align=right>4</td>
    <td><a href="nb/ErrorCorrection.pdf">ErrorCorrection</a></td>
    <td align=center><a href="ErrorCorrection.nb">source</a></td>
    <td align=center>2016-07-04 10:37:09</td>
    <td align=center>2016-07-30 23:06:36</td>
    <td>Finding the most general R using low algebra - automatic error correction.</td>
  <tr align=left>
<td align=right>5</td>
    <td><a href="nb/FindingTheForm.pdf">FindingTheForm</a></td>
    <td align=center><a href="FindingTheForm.nb">source</a></td>
    <td align=center>2016-08-14 13:40:44</td>
    <td align=center>2016-08-15 15:11:51</td>
    <td>&nbsp;</td>
  <tr align=left>
<td align=right>6</td>
    <td><a href="nb/G0.pdf">G0</a></td>
    <td align=center><a href="G0.nb">source</a></td>
    <td align=center>2016-07-27 20:47:27</td>
    <td align=center>2016-08-03 14:48:36</td>
    <td>Verifying the commutation relations of frakg_0.</td>
  <tr align=left>
<td align=right>7</td>
    <td><a href="nb/G1.pdf">G1</a></td>
    <td align=center><a href="G1.nb">source</a></td>
    <td align=center>2016-08-04 13:54:59</td>
    <td align=center>2017-02-11 11:39:04</td>
    <td>Verifying the commutation relations of frakg_1.</td>
  <tr align=left>
<td align=right>8</td>
    <td><a href="nb/MonomialGames.pdf">MonomialGames</a></td>
    <td align=center><a href="MonomialGames.nb">source</a></td>
    <td align=center>2016-08-06 20:14:57</td>
    <td align=center>2016-08-07 08:56:34</td>
    <td>&nbsp;</td>
  <tr align=left>
<td align=right>9</td>
    <td><a href="nb/MostGeneralR.pdf">MostGeneralR</a></td>
    <td align=center><a href="MostGeneralR.nb">source</a></td>
    <td align=center>2016-07-03 13:45:22</td>
    <td align=center>2016-07-30 23:20:13</td>
    <td>Finding the most general R using low algebra, now with a balanced basis.</td>
  <tr align=left>
<td align=right>10</td>
    <td><a href="nb/NOE-0.pdf">NOE-0</a></td>
    <td align=center><a href="NOE-0.nb">source</a></td>
    <td align=center>2016-08-03 11:06:14</td>
    <td align=center>2016-08-14 12:17:45</td>
    <td>Normally Ordered Exponentials at 0-Co.</td>
  <tr align=left>
<td align=right>11</td>
    <td><a href="nb/NOE-0t.pdf">NOE-0t</a></td>
    <td align=center><a href="NOE-0t.nb">source</a></td>
    <td align=center>2016-08-12 08:50:27</td>
    <td align=center>2016-08-15 14:14:14</td>
    <td>Normally Ordered Exponentials at 0-Co in the t variables.</td>
  <tr align=left>
<td align=right>12</td>
    <td><a href="nb/NOE-1.pdf">NOE-1</a></td>
    <td align=center><a href="NOE-1.nb">source</a></td>
    <td align=center>2016-08-05 14:24:16</td>
    <td align=center>2016-08-19 14:21:06</td>
    <td>Normally Ordered Exponentials at 1-Co.</td>
  <tr align=left>
<td align=right>13</td>
    <td><a href="nb/NOE-1t.pdf">NOE-1t</a></td>
    <td align=center><a href="NOE-1t.nb">source</a></td>
    <td align=center>2016-08-14 13:23:57</td>
    <td align=center>2016-08-18 07:00:56</td>
    <td>Normally Ordered Exponentials at 1-Co in the t variables.</td>
  <tr align=left>
<td align=right>14</td>
    <td><a href="nb/OneCo.pdf">OneCo</a></td>
    <td align=center><a href="OneCo.nb">source</a></td>
    <td align=center>2016-07-01 10:44:39</td>
    <td align=center>2016-08-13 09:27:12</td>
    <td>The OneCo project using the (b-&epsilon;c)-scapegoated low algebra.</td>
  <tr align=left>
<td align=right>15</td>
    <td><a href="nb/RescalingTheLogos.pdf">RescalingTheLogos</a></td>
    <td align=center><a href="RescalingTheLogos.nb">source</a></td>
    <td align=center>2016-08-11 19:17:53</td>
    <td align=center>2016-08-15 15:12:00</td>
    <td>&nbsp;</td>
  <tr align=left>
<td align=right>16</td>
    <td><a href="nb/Testing.pdf">Testing</a></td>
    <td align=center><a href="Testing.nb">source</a></td>
    <td align=center>2016-07-01 11:02:42</td>
    <td align=center>2016-11-19 11:55:18</td>
    <td>Testing OneCo.</td>
  <tr align=left>
<td align=right>17</td>
    <td><a href="nb/TheBraidLogos.pdf">TheBraidLogos</a></td>
    <td align=center><a href="TheBraidLogos.nb">source</a></td>
    <td align=center>2016-08-26 08:19:19</td>
    <td align=center>2016-08-26 08:19:19</td>
    <td>&nbsp;</td>
  <tr align=left>
<td align=right>18</td>
    <td><a href="nb/TheTrefoil.pdf">TheTrefoil</a></td>
    <td align=center><a href="TheTrefoil.nb">source</a></td>
    <td align=center>2016-08-18 13:09:36</td>
    <td align=center>2016-08-19 14:22:34</td>
    <td>The invariant of the trefoil, using data from CC4NOE-1t.nb.</td>
  <tr align=left>
<td align=right>19</td>
    <td><a href="nb/Untitled-160810.pdf">Untitled-160810</a></td>
    <td align=center><a href="Untitled-160810.nb">source</a></td>
    <td align=center>2016-08-10 11:49:13</td>
    <td align=center>2016-08-10 13:47:16</td>
    <td>&nbsp;</td>
  <tr align=left>
<td align=right>20</td>
    <td><a href="nb/VdVAlgebraAt0.pdf">VdVAlgebraAt0</a></td>
    <td align=center><a href="VdVAlgebraAt0.nb">source</a></td>
    <td align=center>2016-07-31 17:48:39</td>
    <td align=center>2016-08-01 12:51:26</td>
    <td>Implementing the scapegoated VdV algebra of <a href="http://drorbn.net/bbs/show?shot=VanDerVeen-160731-121550.jpg">http://drorbn.net/bbs/show?shot=VanDerVeen-160731-121550.jpg</a>.</td>
  <tr align=left>
<td align=right>21</td>
    <td><a href="nb/VdVAlgebraAt1.pdf">VdVAlgebraAt1</a></td>
    <td align=center><a href="VdVAlgebraAt1.nb">source</a></td>
    <td align=center>2016-08-02 11:12:13</td>
    <td align=center>2016-08-02 14:29:23</td>
    <td>Implementing the scapegoated VdV algebra of <a href="http://drorbn.net/bbs/show?shot=VanDerVeen-160731-121550.jpg">http://drorbn.net/bbs/show?shot=VanDerVeen-160731-121550.jpg</a>.</td>
  <tr align=left>
<td align=right>22</td>
    <td><a href="nb/VdVAlgebraAt1-Testing.pdf">VdVAlgebraAt1-Testing</a></td>
    <td align=center><a href="VdVAlgebraAt1-Testing.nb">source</a></td>
    <td align=center>2016-08-02 11:33:51</td>
    <td align=center>2016-08-02 14:51:08</td>
    <td>&nbsp;</td>
  <tr align=left>
<td align=right>23</td>
    <td><a href="nb/VdVComparissonAt0.pdf">VdVComparissonAt0</a></td>
    <td align=center><a href="VdVComparissonAt0.nb">source</a></td>
    <td align=center>2016-07-31 16:12:38</td>
    <td align=center>2016-08-01 15:26:51</td>
    <td>Comparing frakg_1 with Roland's picture.</td>
  <tr align=left>
<td align=right>24</td>
    <td><a href="nb/VdVComparisson.pdf">VdVComparisson</a></td>
    <td align=center><a href="VdVComparisson.nb">source</a></td>
    <td align=center>2016-07-31 14:38:28</td>
    <td align=center>2016-08-01 13:18:05</td>
    <td>Comparing frakg_1 with Roland's picture.</td>
  <tr align=left>
<td align=right>25</td>
    <td><a href="nb/YB4NOE-1.pdf">YB4NOE-1</a></td>
    <td align=center><a href="YB4NOE-1.nb">source</a></td>
    <td align=center>2016-08-07 11:27:09</td>
    <td align=center>2016-08-09 16:56:36</td>
    <td>Finding the YB element for NOE-1.</td>
  <tr align=left>
<td align=right>26</td>
    <td><a href="nb/YB4NOE-1t.pdf">YB4NOE-1t</a></td>
    <td align=center><a href="YB4NOE-1t.nb">source</a></td>
    <td align=center>2016-08-16 14:44:04</td>
    <td align=center>2016-08-16 19:38:01</td>
    <td>Finding the YB element for NOE-1t.</td>
</table>       
        
<table>
<table align="right">
  <tr>
    <th>Local Copy.pdf</th>
    <th>Local Copy.actual</th>
  </tr>
</table>
